/*
Lighter Gray: Hex: #f5f8fb
Light gray: Hex: #ebf0f6
Turqouise blue: Hex: #00abf0
Darker Teal: Hex: #316178
Dark Gray: Hex: #354052
Navy: Hex: #004460
*/


body {
  background-color: #ebf0f6;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/*SideBar Nav*/

.left-side-container {
  position: absolute;
  width: 22%;
  background-color: #354052;
  color: #ebf0f6;
}

.image-and-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #00abf0;
}

.image-and-name h3 {
  text-align: center;
  margin-bottom: 20px;
}

.zissou-profile{
width: 100px;
height: 100px;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid #00abf0;
border-radius: 50%;
}

.left-nav-items {
  padding: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #00abf0;
  font-size: .8em;
}

.left-nav-items img {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

.left-nav-items h3 {
  margin: 0 0 10px 0;
  opacity: .3;
}

.left-nav-items li {
  padding: 10px 0 10px 10px;
  cursor: pointer;
  opacity: .6;
  text-transform: uppercase;;
}

.categories {
  border-bottom: none;
}

.categories li {
  text-transform: none;
  font-size: .78em;
}

/*Top Navigation*/

.top-input-nav-container {
  position: absolute;
  left: 22%;
  display: flex;
  width: 78%;
  background-color: #f5f8fb;
}

.input-menu-icon,
.search-input,
.anchor-icon,
.helm-icon {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #00abf0;
  border-left: none;
}

.search-input{
  flex-grow:2
}

.search-input input {
  border-style: none;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.hamburger,
.search-glass,
.anchor,
.helm,
.grid {
  height: 20px;
  width: 20px;
}

.search-glass {
  padding-right: 10px;
}

.icon:hover {
  background-color: #00abf0;
}
