/*
Lighter Gray: Hex: #f5f8fb
Light gray: Hex: #ebf0f6
Turqouise blue: Hex: #00abf0
Darker Teal: Hex: #316178
Dark Gray: Hex: #354052
Navy: Hex: #004460
ZissouOrange: hex: #ff8159
*/


body {
  background-color: #ebf0f6;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #354052
}

/*SideBar Nav*/

.left-side-container {
  position: absolute;
  width: 15%;
  background-color: #354052;
  color: #ebf0f6;
}

.image-and-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #00abf0;
}

.image-and-name h3 {
  text-align: center;
  margin-bottom: 20px;
}

.zissou-profile{
width: 100px;
height: 100px;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid #00abf0;
border-radius: 50%;
}

.left-nav-items {
  padding: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #00abf0;
  font-size: .8em;
}

.left-nav-items img {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

.left-nav-items h3 {
  margin: 0 0 10px 0;
  opacity: .3;
}

.left-nav-items li {
  padding: 10px 0 10px 10px;
  cursor: pointer;
  opacity: .6;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.categories {
  border-bottom: none;
}

.categories li {
  text-transform: none;
  font-size: .78em;
}


/*Right-side-container*/

.right-side-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 15%;
  width: 85%;
}

/*Top Navigation*/

.top-input-nav-container {
  display: flex;
  width: 100%;
  background-color: #f5f8fb;
}

.input-menu-icon,
.search-input,
.anchor-icon,
.helm-icon {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #00abf0;
  border-left: none;
}

.search-input{
  flex-grow:2
}

.search-input input {
  border-style: none;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.hamburger,
.search-glass,
.anchor,
.helm,
.grid {
  height: 20px;
  width: 20px;
}

.search-glass {
  padding-right: 10px;
}

.icon:hover {
  background-color: #ff8159;
}

/*Captain section*/

.captain-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
  background-color: #f5f8fb;
}

.geo-tag {
  height: 20px;
  width: 20px;
}

.captain {
  font-size: 1.3em;
}

.location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .8em;
  padding-top: 20px;
}

.preview {
  color: #00abf0;
  text-decoration: none;
}

.open-icon {
  position: absolute;
  right: 15%;
  border: 2px solid #00abf0;
  border-radius: 30px;
  padding: 5px 15px;
  cursor: pointer;
}

.bookmark-icon {
  position: absolute;
  right: 10%;
  border: 2px solid #00abf0;
  border-radius: 50%;
  cursor: pointer;
}

.bookmark,
.spyglass {
  height: 15px;
  width: 15px;
  margin: 4px;
}

.spyglass-icon {
  position: absolute;
  right: 5%;
  border: 2px solid #00abf0;
  border-radius: 50%;
  cursor: pointer;
}

.captain-nav-bar {
  margin-top: 30px;
  padding-bottom: 10px;
}

.captain-nav-bar ul {
  display: flex;
  justify-content: space-around;
  font-size: .9em;
  text-transform: uppercase;
}

.captain-nav-bar li:hover {
  color: #ff8159;
  cursor: pointer;
}


/*Graphs and stuff*/

.graphs-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.circles-container {
  display: flex;
  margin-left: 30px;
}


.circles {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navy-circle {
  border: 7px solid #004460;
}

.gray-circle {
  border: 7px solid #316178;
  margin-left: 10px;

}

.blue-circle {
  border: 7px solid #00abf0;
  margin-left: 10px;
}

.graph {
  height: 200px;
  width: 200px;
  margin-right: 40px;
}

.graph-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.graph-icons span {
  text-transform: uppercase;
  margin: 10px;
}

.total-icon,
.applicant-icon {
  display: flex;
  height: 40px;
  border: 1px solid #00abf0;
  border-radius: 20px;
  background-color: #f5f8fb;
  align-items: center;
}

.total-icon {
  margin-left: 140px;
}

.applicant-icon:hover,
.total-icon:hover {
  cursor: pointer;
  background-color: #ff8159;
}

.applicant-icon {
  margin-left: 100px;
}


/*Break horizontal line*/

.break {
  border-top: 2px solid #354052;
  margin: 50px 50px;
}

/*Jobs Container*/


.job-container {
  display: flex;
  margin-left: 50px ;
}

.job-description-section {
  /*display: flex;*/
  flex-direction: column;
  width: 70%;
}

.job-header-container {
  display: flex;
  background-color: #354052;
  height: 50px;
  align-items: center;
}

.job-header {
  color: #ebf0f6;
  margin: 20px 10px 20px 20px;
}

.job-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.job-info-left {
  /*margin-left: 30px;*/
}

.job-info-right {
  /*margin-left: 50px;*/
}
